{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">
  <div class="splash">
    
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>
    <p> 
      More than 10 years experience in technology related services.<br /> 
      Works in healthcare domain as full time employee, <br />
      and volunteering my time to education system in India to create technology enabled services.<br /> When I'm not working, often I write blogs and publish at <a href="https://thakshashila.com/" target="_blank" >Thakshashila</a>.  
      <br />Often I take photos and publish in <a href="https://www.instagram.com/jyodsh/" target="_blank" >Instagram</a> 
     and in my photo blog <a href="https://www.lenstale.com/" target="_blank" >LensTale</a>.
    </p>

    {{ partial "social-icons.html" .}}
  </div>
</div>

{{ end }}
